# Flutter/Dart/Pub related
**/android/.gradle
**/ios/Pods
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/ios/Flutter/.last_build_id
**/flutter_*.log

# IDEs and editors
.idea/
.vscode/
*.iml

# Misc
*.DS_Store
*.log
*.tmp

#Reports
*.docx
*.pdf